<div class="row">

    <!-- <mat-tab-group>
      <mat-tab label="Info"> 
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Video</div>
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p class="card-text">After successful installation open it, log in as a user registered on this web site and click on start tracking.</p>
              <p class="card-text">After few seconds you'll see your position on the map on this web site.</p>
              <p class="card-text">For detailed instructions please watch the video</p>
              <p class="card-text">If you have any issues or interested to know more, please let me know on email veljkovic.nenad@gmail.com</p>
              <p class="card-text"><a href="https://drive.google.com/file/d/18lAaG9FgBUFDqGR82Ev_TsfpSZoF_MnB/view?usp=sharing" class="btn btn-primary">Video</a></p>
    
            </div>
          </div>
            </mat-tab>
      <mat-tab label="Android">
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Download Android version</div>
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Download zip file to your Android device, unzip and install the application. </p>

              <p class="card-text"><a href="https://drive.google.com/file/d/18lAaG9FgBUFDqGR82Ev_TsfpSZoF_MnB/view?usp=sharing" class="btn btn-primary">Download</a></p>
            </div>
          </div>
      </mat-tab>
    </mat-tab-group> -->
 </div>